# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Directories
data/
Debug/
Release/

# Some bullshit
log.txt
Homestrife.vcxproj.user